{
    box-sizing: border-box !important;
    padding: 0;
    margin: 0px;
  }

body {
    font-family: "Space Mono", serif;
    height: 100vh;
    display: flex;
    justify-content: center;
}

h1 {
    color:rgb(238, 130, 238);
}

.container {
    background: black;
    align-items: center;
    text-align: left;
    margin: 0;
}
.marquee {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    border: 2px solid rgb(238, 130, 238);
    height: 40px;
    width: 600px;
    border-radius: 22px;
    box-shadow: 4px 4px 0 #000;
    overflow: hidden;
    background: black;
    white-space: nowrap;

}

.marquee--inner {
    display: block;
    width: 200%;
    position: absolute;
    animation: marquee 10s linear infinite;
    &:hover {
      animation-play-state: paused;
      color: white;
    }
  }

  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }

  nav {
    clear: both;
    border: 2px solid rgb(238, 130, 238);
    height: 30px;
    width: 100px;
    border-radius: 22px;
    box-shadow: 4px 4px 0 #000;
    background: black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  ul {
    color:rgb(238, 130, 238);
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  ul li {
    margin-right: 10px;
    border-right: 1px solid transparent; /* Add a transparent border */
  }
  
  ul li:last-child {
    margin-right: 0;
    border-right: none; /* Remove border for the last button */
  }

  ul li a {
    text-decoration: none;
    color:rgb(238, 130, 238);
    font-family: "Space Mono", serif;
  }